
body{
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  width: auto !important;
}
main{
  display: block;
}
.App {
  height: 100vh;
  overflow: hidden;
}
.MuiInput-underline:after{
  border-bottom: none !important;
}
.MuiInputLabel-root{
  color: black !important;
}